<div class="card">
    <p-table [value]="tableLoadData"
            [loading]="loading"  
            [lazy]="true"
            (onLazyLoad)="getTableData($event)"
            [paginator]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[30, 50]"
            responsiveLayout="stack" [breakpoint]="'960px'"
            [rows]="tableLimit"
            [totalRecords]="totalRecords">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>S.no</th>
                <th>Title</th>
                <th>Body</th>
                <th>Tags</th>
                <th>Reactions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tablebody let-columns="columns" let-ind="index">
            <tr>
                <td>{{tablebody.serialNo}}</td>
                <td>{{tablebody.title}}</td>
                <td>{{tablebody.body}}</td>
                <td>{{tablebody.tags}}</td>
                <td class="text-center">
                    <p-tag [value]="tablebody.reactions" [severity]="getSeverity(tablebody.reactions)"></p-tag>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>